*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1370px;
    margin: 110px auto;
    text-align: center;
}